.navigation {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 300ms;
  background-color: #292F3D;
  z-index: 99;
  padding: 50px 0;
  color: #fff; }

.navigation .row {
  margin: unset;
  height: 50vh; }

.navigation .container .row .col-md-4 a p {
  font-size: 1.6em;
  margin-top: 10px; }

.nav_image_portait {
  width: 250px;
  height: 250px; }

.navigation a {
  text-decoration: none;
  color: #fff; }

.navigation .col-md-4:nth-of-type(2) {
  text-align: center;
  font-size: 3em; }

.navigation .col-md-4 .menu ul li {
  margin: 25% 0; }

.navigation .col-md-4 .menu ul li:first-of-type {
  margin-top: 15px; }

.HamburgerMenu {
  position: fixed;
  width: 60px;
  height: 60px;
  z-index: 99999;
  background-color: #fff;
  border-radius: 50%;
  top: 10%;
  left: 80%; }

.HamburgerMenu span {
  width: 50%;
  height: 4px;
  display: block;
  background-color: #000;
  position: relative;
  left: 50%;
  top: 20%;
  margin: 7px 0;
  transform: translate(-50%, -50%);
  transition: 300ms; }

.landing-header {
  height: 100vh;
  margin-top: 0 !important; }
  .landing-header .landing-text {
    margin-top: 150px; }
    .landing-header .landing-text .content {
      width: 70%; }
      .landing-header .landing-text .content .video {
        width: 100%; }
  .landing-header .landing-image {
    background-image: url("https://via.placeholder.com/600");
    background-size: cover; }

.portraits {
  display: flex;
  align-items: center;
  justify-content: center; }

.portraits .col-md-4 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 240px; }

.portraits .col-md-4 a p {
  position: absolute;
  bottom: -50px;
  left: 0; }

.about {
  position: relative; }
  .about .about-image {
    height: 450px;
    overflow: hidden; }
  .about .about-text .content {
    margin: 0 50px 0 0; }
    .about .about-text .content button {
      background-color: indianred;
      color: white;
      font-size: 18px;
      padding: 20px 0;
      width: 90%;
      border: none;
      cursor: pointer;
      position: absolute;
      bottom: 0; }

.portrait-gallery ul {
  list-style-type: none; }
  .portrait-gallery ul li {
    display: inline-block;
    float: left; }

.portrait-image {
  width: 50vh; }

footer {
  background-color: #312f3d;
  color: #FFF; }

.row.footer {
  padding: 2.5em 0;
  margin-bottom: 0; }

h3 {
  font-size: 1.5em;
  font-weight: 700; }

h3::after {
  content: "";
  position: absolute;
  left: 15px;
  width: 100px;
  height: 4px;
  background-color: red;
  top: 65px; }

footer .portrait_title {
  color: #FFF;
  transition: 300ms; }

footer .portrait_title:hover {
  color: #F00; }

footer a {
  text-decoration: none;
  color: #FFF; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

li a {
  display: block;
  margin: 15px 0;
  text-decoration: none;
  transition: 300ms; }

a:hover {
  color: #F00; }

.socialMedia img {
  width: 30px;
  margin: 0 15px;
  filter: brightness(0) invert(1);
  transition: 300ms; }

.socialMedia img:first-of-type {
  margin-left: 0; }

.socialMedia img:hover {
  filter: brightness(100%) invert(0); }

@media screen and (max-width: 768px) {
  .offset {
    display: none; }

  .landing-text .content {
    width: 100%; }
    .landing-text .content .video {
      display: none;
      width: 100%; } }
.Contact_Icons {
  max-width: 75%;
  margin: 0 auto;
  transform: translateX(-50%);
  position: relative;
  left: 50%; }

.Contact_icons_Title {
  text-align: center;
  font-size: 1.5em; }

html, body {
  font-family: sans-serif;
  padding: 0;
  margin: 0 !important;
  background-image: #ffffff; }

.container-fluid {
  padding: 0; }

.row {
  margin: 80px 0; }

.no-margin {
  margin-top: 25px; }

.row:last-of-type {
  margin-bottom: 0px; }

.col {
  padding: 0; }

h2 {
  max-width: 500px; }
  h2:before {
    content: "";
    display: inline-block;
    width: 8%;
    border-bottom: 5px solid indianred;
    margin: 0 5px 5px 0; }

/*# sourceMappingURL=main.css.map */
