//Imports
@import "components/mixins";
@import "components/navigation";
@import "components/front-page";
@import "components/about";
@import "components/portraits";
@import "components/single-portait";
@import "components/footer";

//Global styles
html, body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background-color: white;
}

.row {
  margin-bottom: 80px;
}
.row:last-of-type {
  margin-bottom: 0px;
}

.col {
  padding: 0;
}

h2 {
  max-width: 500px;
  &:before {
    content: "";
    display: inline-block;
    width: 8%;
    border-bottom: 5px solid indianred;
    margin: 0 5px 5px 0;
  }
}
