//Imports
@import "components/mixins";
@import "components/navigation";
@import "components/front-page";
@import "components/about";
@import "components/portraits";
@import "components/single-portait";
@import "components/footer";
@import "components/media-queries";


//Colors
$background-color: #ffffff;
$highlight-color: indianred;

//Global styles
html, body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background-color: $background-color;
}

.row {
  margin-bottom: 80px;
}

.col {
  padding: 0;
}

.offset {

}

h2 {
  max-width: 500px;
  &:before {
    content: "";
    display: inline-block;
    width: 8%;
    border-bottom: 5px solid $highlight-color;
    margin: 0 5px 5px 0;
  }
}



