.landing-header {
  height: 100vh;
  .landing-text {
    .content {
      width: 70%;
      //@include centered();
      .video {
        width: 100%;
      }
    }
  }
  .landing-image {
    background-image: url("https://via.placeholder.com/600");
    background-size: cover;
  }
}

.about {
  position: relative;
  .about-image {
    height: 450px;
    overflow: hidden;
    img {
      //@include centered();
    }
  }
  .about-text {
    .content {
      margin: 0 50px 0 0;
      button {
        background-color: indianred;
        color: white;
        font-size: 18px;
        padding: 20px 0;
        width: 100%;
        border: none;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}
.portraits {
  position: relative;
}