
//SINGLE PORTRAIT
.portrait_desc {

}


.portrait-image {
  width: 50vh;
}

.button {
    background-color: indianred;
    color: white;
    font-size: 18px;
    padding: 20px 0;
    width: 90%;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}